@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap");

$b: #000000;
$bt: #0000004e;
$bd: #00000068;
$bdd: #000000c6;
$g: #393939;
$w: #ffffff;
$b2: #3f779a;

::selection {
  background: $b;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $g;
  border-radius: 25px;
}

* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

li {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  color: $w;
}

html.hp {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  body {
    // background-color: $w;
    // height: 100vh;
    // width: 100vw;

    .bd {
      background-image: url(/m2.jpg);
      background-size: cover;
      width: 100vw;
      height: 100vh;
      background-color: $b;

      .wp {
        background-color: $bd;
        nav {
          height: 5rem;
          .ltc {
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;

            .togglemenuc {
              position: absolute;
              right: 8%;
              top: 2.7%;
              z-index: 1000;

              .togglemenu {
                z-index: 100;
                height: 30px;
                width: 40px;

                span {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                }
              }

              .togglemenu.active {
                .sp1,
                .sp2 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                  position: absolute;
                  top: 10%;
                  left: -4%;
                  transform: rotate(45deg);
                }

                .sp3 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 11.87px;
                  transform: rotate(-45deg);
                }
              }
            }

            .lc {
              position: absolute;
              top: 3%;
              z-index: 1000;

              left: 5%;
              h1 {
                color: $w;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 300;
              }
            }
          }
        }

        .navm {
          opacity: 0;
          pointer-events: none;
          background-color: $b;
          height: 101vh;
          transform: translateY(-105%);
          transform: ease 0.5s;
          transition: ease 0.5s;
          width: 100%;
          z-index: 1;

          .enfc {
            ul {
              padding-top: 10vh;
              flex-direction: column;
              align-items: center;
              li {
                margin-top: 7em;

                button {
                  background-color: transparent;
                  border: none;
                  font-weight: 200;
                  color: $w;
                  font-family: "Poppins";
                  font-size: 15px;
                  transition: ease-in 0.4s;
                }

                button.cw {
                  border: solid $w 2px;
                  padding-top: 24px;
                  padding-bottom: 24px;
                  padding-left: 50px;
                  padding-right: 50px;
                  transition: ease-in 0.4s;
                }

                button.cw:hover {
                  border: solid $w 2px;
                  background-color: $w;
                  color: $b;
                  transition: ease-in 0.4s;
                }

                button:hover {
                  border-bottom: solid 2px #ffff;
                  transition: ease-in 0.4s;
                  color: $w;
                }

                @keyframes navmbH {
                  0% {
                    border-bottom: solid 2px #ffff;
                  }

                  50% {
                  }

                  100% {
                  }
                }

                @media (min-height: 470px) {
                  button {
                    font-size: 20px;
                  }
                }
              }

              @media (max-height: 550px) {
                li {
                  margin-top: 5em;
                }
              }

              @media (min-height: 590px) {
                li {
                  margin-top: 7em;
                }
              }

              @media (min-height: 630px) {
                li {
                  margin-top: 8em;
                }
              }
            }
          }
        }

        .navm.active {
          opacity: 1;
          pointer-events: all;
          transform: translateY(-13vh);
          transform: ease 0.5s;
          transition: ease 0.5s;
        }

        .mainc {
          height: 91vh;
          top: 5em;
          width: 100%;
          overflow: hidden;
          position: fixed;

          .btoac {
            height: 91vh;
            // grid-template-columns: 1fr 1fr;
            overflow: hidden;
            .imgbcs {
              height: 80vh;
              position: relative;

              width: 100%;

              .imgc {
                display: none;
                position: absolute;
                height: 80vh;
                width: 100%;
                right: 23%;
                top: 15%;
                height: 20em;
                width: 10em;

                .fui {
                  width: 150px;
                  z-index: 5;
                  border-radius: 15px;
                  transition: ease 1s;
                  transform: translateX(-2vw) translateY(10vh);
                }

                .fui:hover {
                  width: 210px;
                  transition: ease 1s;
                }

                .fui2 {
                  width: 110px;
                  display: none;
                  // position: absolute;
                  top: 110%;
                  z-index: 6;
                  right: 59%;
                  border-radius: 15px;
                  transition: ease 1s;
                  transform: translateY(-7vh) translateX(-10vw);
                }

                .fui2:hover {
                  width: 150px;
                  transition: ease 1s;
                }

                .fui3 {
                  width: 120px;
                  display: none;
                  z-index: 1;
                  transition: ease 1s;
                  transform: translateY(-70vh) translateX(-6vw);

                  border-radius: 15px;
                }

                .fui3:hover {
                  width: 140px;
                  transition: ease 1s;
                }

                @media (min-width: 366px) {
                  .fui2 {
                    display: block;
                  }
                }

                @media (min-width: 375px) {
                  .fui3 {
                    display: block;
                  }
                }

                @media (min-width: 646px) {
                  .fui3 {
                    right: 88%;
                  }

                  .fui2 {
                    right: 82%;
                  }
                }

                // @media (min-width: 746px) {
                //   .fui3 {
                //     width: 140px;
                //   }

                //   .fui3:hover {
                //     width: 150px;
                //     transition: ease 1s;
                //   }

                //   .fui2 {
                //     width: 160px;
                //     right: 90%;
                //     top: 100%;
                //   }

                //   .fui2:hover {
                //     width: 170px;
                //     transition: ease 1s;
                //   }

                //   .fui {
                //     width: 200px;
                //     right: 0%;
                //   }

                //   .fui:hover {
                //     width: 210px;
                //     transition: ease 1s;
                //   }
                // }

                @media (min-width: 900px) {
                  .fui3 {
                    width: 160px;
                    transform: translateY(-42em) translateX(-6vw);
                  }

                  .fui3:hover {
                    width: 170px;
                    transition: ease 1s;
                  }

                  .fui2 {
                    width: 190px;
                    transform: translateY(-9em) translateX(-6vw);
                  }

                  .fui2:hover {
                    width: 200px;
                    transition: ease 1s;
                  }

                  .fui {
                    width: 230px;
                  }

                  .fui:hover {
                    width: 240px;
                    transition: ease 1s;
                  }
                }
              }

              @media (min-width: 550px) {
                .imgc {
                  display: block;
                }
              }
            }

            .wtc {
              flex-direction: column;
              align-items: left;
              position: relative;
              width: 100%;
              height: 90vh;

              .hbc {
                margin-top: 20vh;
                margin-left: 5vw;
                z-index: 11;
                h1 {
                  color: $w;
                  font-family: "Poppins";
                  font-weight: 300;
                  z-index: 11;
                }

                span {
                  color: $g;
                  font-family: "Poppins";
                  text-align: justify;
                }

                button {
                  background-color: transparent;
                  border: solid 2px #ffff;
                  padding: 5px;
                  height: 4rem;
                  margin-top: 1rem;
                  width: 250px;
                  z-index: 11;
                  color: $w;
                  font-family: "Poppins";
                  font-weight: 300;
                  transition: ease 0.5s;
                  font-size: 18px;
                }

                button:hover {
                  background-color: #ffff;
                  color: $b;
                  transition: ease 0.5s;
                }

                @media (min-width: 620px) {
                  h1 {
                    font-size: 36.6px;
                  }
                }

                @media (min-width: 680px) {
                  h1 {
                    font-size: 39.6px;
                  }
                }

                @media (min-width: 716px) {
                  h1 {
                    font-size: 46.6px;
                  }
                }

                @media (min-width: 1000px) {
                  h1 {
                    font-size: 54.6px;
                  }
                }

                @media (min-width: 1200px) {
                  h1 {
                    font-size: 65.6px;
                  }
                }
              }

              @media (min-width: 816px) {
                .hbc {
                  left: 10%;
                }
              }

              @media (min-width: 1000px) {
                .hbc {
                  left: 20%;
                }
              }
            }
          }
        }

        .mainc.dea {
          display: none;
        }
      }
    }
  }
}

html.app {
  background-color: $b;
  height: 100%;
  width: 100vw;
  overflow: hidden;

  body {
    .bd {
      background-image: url(/m2.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      background-color: $b;

      .wp {
        background-color: $bd;

        nav {
          height: 10vh;
          z-index: 1000;
          .ltc {
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;
            z-index: 1000;
            .togglemenuc {
              position: absolute;
              right: 8%;
              top: 2.7%;
              z-index: 1000;

              .togglemenu {
                z-index: 100;
                height: 30px;
                width: 40px;

                span {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                }
              }

              .togglemenu.active {
                .sp1,
                .sp2 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                  position: absolute;
                  top: 10%;
                  left: -4%;
                  transform: rotate(45deg);
                }

                .sp3 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 11.87px;
                  transform: rotate(-45deg);
                }
              }
            }

            .lc {
              position: absolute;
              top: 3%;
              z-index: 1000;
              left: 5%;
              h1 {
                color: $w;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 300;
              }
            }
          }
        }

        .navm {
          opacity: 0;
          pointer-events: none;
          background-color: $b;
          height: 101vh;
          transform: translateY(-100%);
          transform: ease 0.5s;
          transition: ease 0.5s;
          width: 100%;
          z-index: 1;

          .enfc {
            ul {
              padding-top: 10vh;
              flex-direction: column;
              align-items: center;
              li {
                margin-top: 7em;

                button {
                  background-color: transparent;
                  border: none;
                  font-weight: 200;
                  color: $w;
                  font-family: "Poppins";
                  font-size: 15px;
                  transition: ease-in 0.4s;
                }

                button.cw {
                  border: solid $w 2px;
                  padding-top: 24px;
                  padding-bottom: 24px;
                  padding-left: 50px;
                  padding-right: 50px;
                  transition: ease-in 0.4s;
                }

                button.cw:hover {
                  border: solid $w 2px;
                  background-color: $w;
                  color: $b;
                  transition: ease-in 0.4s;
                }

                button:hover {
                  border-bottom: solid 2px #ffff;
                  transition: ease-in 0.4s;
                  color: $w;
                }

                @keyframes navmbH {
                  0% {
                    border-bottom: solid 2px #ffff;
                  }

                  50% {
                  }

                  100% {
                  }
                }

                @media (min-height: 470px) {
                  button {
                    font-size: 20px;
                  }
                }
              }

              @media (max-height: 550px) {
                li {
                  margin-top: 5em;
                }
              }

              @media (min-height: 590px) {
                li {
                  margin-top: 7em;
                }
              }

              @media (min-height: 630px) {
                li {
                  margin-top: 8em;
                }
              }
            }
          }
        }

        .navm.active {
          opacity: 1;
          pointer-events: all;
          transform: translateY(-10vh);
          transform: ease 0.5s;
          transition: ease 0.5s;
        }
      }
      .wapp {
        position: absolute;
        top: 10vh;
        height: max-content;
        width: 100%;
        height: 80vh;

        .bdim {
          // background-color: $bt;
          height: 80vh;
          .container {
            position: relative;
            flex-direction: column;
            align-items: left;

            .search {
              flex-direction: row;
              width: 100%;

              padding-top: 2em;
              justify-content: center;
              .si {
                font-family: "Poppins";
                font-weight: 500;
                padding-left: 1rem;
                border: none;
                width: 60%;
                height: 30px;
                border-radius: 15px;
              }

              .sib {
                background-color: transparent;
                border: none;

                span {
                  width: 50px;
                  height: auto;
                  cursor: pointer;
                }
              }
            }

            .top {
              width: 90%;
              height: 350px;

              padding-left: 1.5rem;
              .location {
                margin-top: 3.5rem;
                h1 {
                  color: $w;
                  font-size: 30px;
                  font-weight: 300;
                  font-family: "Poppins";
                }
              }

              .temp {
                h1 {
                  color: $w;
                  font-size: 80px;
                  font-weight: 500;
                  font-family: "Poppins";
                }
              }

              .description {
                h1 {
                  color: $w;
                  font-size: 20px;
                  font-weight: 300;
                  font-family: "Poppins";
                  // transform: rotate(-90deg);
                }
              }

              .advice {
                margin-top: 1rem;
                h1 {
                  color: $w;
                  font-size: 18px;
                  font-weight: 300;
                  font-family: "Poppins";
                  // transform: rotate(-90deg);
                }
              }

              @media (min-width: 550px) {
                .temp {
                  h1 {
                    font-size: 90px;
                  }
                }
              }

              @media (min-width: 765px) {
                .temp {
                  h1 {
                    font-size: 105px;
                  }
                }
              }

              @media (min-width: 1005px) {
                .description {
                  h1 {
                    font-size: 45px;
                  }
                }

                .location {
                  h1 {
                    font-size: 50px;
                  }
                }

                .temp {
                  h1 {
                    font-size: 150px;
                  }
                }
              }
            }
          }
        }
      }

      .bcontain {
        position: absolute;
        top: 90%;
        height: 10vh;
        width: 100vw;
        // background-color: $b;
        overflow: hidden;

        .bottom {
          flex-direction: row;
          width: 100%;

          text-align: center;
          justify-content: space-evenly;
          .feels {
            flex-direction: column;
            align-items: center;
            h1 {
              color: $w;
              font-size: 20px;
              font-weight: 300;
              font-family: "Poppins";
            }

            h2 {
              color: $w;
              font-size: 15px;
              font-weight: 300;
              font-family: "Poppins";
            }
          }

          .humidity {
            h1 {
              color: $w;
              font-size: 20px;
              font-weight: 300;
              font-family: "Poppins";
            }

            h2 {
              color: $w;
              font-size: 15px;
              font-weight: 300;
              font-family: "Poppins";
            }
          }

          .wind {
            h1 {
              color: $w;
              font-size: 20px;
              font-weight: 300;
              font-family: "Poppins";
            }

            h2 {
              color: $w;
              font-size: 15px;
              font-weight: 300;
              font-family: "Poppins";
            }
          }
        }
      }

      .wapp.dea {
        display: none;
      }

      .bcontain.dea {
        display: none;
      }
    }
  }
}

html.au {
  background-color: $b;
  height: 100vh;
  width: 100%;

  body {
    .bd {
      // width: 90%;
      height: 100vh;

      .wp {
        // width: 80%;
        height: max-content;
        nav {
          height: 5rem;

          .ltc {
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;

            .togglemenuc {
              position: absolute;
              right: 8%;
              top: 2.7%;
              z-index: 1000;

              .togglemenu {
                z-index: 100;
                height: 30px;
                width: 40px;

                span {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                }
              }

              .togglemenu.active {
                .sp1,
                .sp2 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                  position: absolute;
                  top: 10%;
                  left: -4%;
                  transform: rotate(45deg);
                }

                .sp3 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 11.87px;
                  transform: rotate(-45deg);
                }
              }
            }

            .lc {
              position: absolute;
              top: 3%;
              left: 5%;
              z-index: 1000;

              h1 {
                color: $w;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 300;
              }
            }
          }
        }

        .navm {
          opacity: 0;
          pointer-events: none;
          background-color: $b;
          height: 101vh;
          transform: translateY(-105%);
          transform: ease 0.5s;
          transition: ease 0.5s;
          width: 100%;
          z-index: 1;

          .enfc {
            ul {
              padding-top: 10vh;
              flex-direction: column;
              align-items: center;
              li {
                margin-top: 7em;

                button {
                  background-color: transparent;
                  border: none;
                  font-weight: 200;
                  color: $w;
                  font-family: "Poppins";
                  font-size: 15px;
                  transition: ease-in 0.4s;
                }

                button.cw {
                  border: solid $w 2px;
                  padding-top: 24px;
                  padding-bottom: 24px;
                  padding-left: 50px;
                  padding-right: 50px;
                  transition: ease-in 0.4s;
                }

                button.cw:hover {
                  border: solid $w 2px;
                  background-color: $w;
                  color: $b;
                  transition: ease-in 0.4s;
                }

                button:hover {
                  border-bottom: solid 2px #ffff;
                  transition: ease-in 0.4s;
                  color: $w;
                }

                @keyframes navmbH {
                  0% {
                    border-bottom: solid 2px #ffff;
                  }

                  50% {
                  }

                  100% {
                  }
                }

                @media (min-height: 470px) {
                  button {
                    font-size: 20px;
                  }
                }
              }

              @media (max-height: 550px) {
                li {
                  margin-top: 5em;
                }
              }

              @media (min-height: 590px) {
                li {
                  margin-top: 7em;
                }
              }

              @media (min-height: 630px) {
                li {
                  margin-top: 8em;
                }
              }
            }
          }
        }

        .navm.active {
          opacity: 1;
          pointer-events: all;
          transform: translateY(-15vh);
          transform: ease 0.5s;
          transition: ease 0.5s;
        }

        .aucwp {
          position: absolute;
          top: 10vh;
          .hts {
            width: 100%;
            z-index: 1;
            height: 200px;
            background-image: url(forest2.jpg);

            .h1fc {
              flex-direction: row;
              justify-content: left;

              padding-left: 2em;
              padding-top: 4em;
              // overflow: hidden;

              h1 {
                color: $w;
                font-family: "Poppins";
                font-weight: 300;
              }
            }
          }

          .hts.dea {
            display: none;
          }
          .mainc {
            .pcmc {
              flex-direction: row;
              justify-content: center;
              padding-left: 3em;
              padding-right: 3em;
              padding-top: 3.7em;

              p {
                color: $w;
                font-weight: 200;
                font-family: "Poppins";
                font-size: 16px;
              }
            }

            @media (min-width: 1273px) {
              .pcmc {
                padding-left: 12em;
                padding-right: 12em;
              }
            }

            @media (min-width: 1443px) {
              .pcmc {
                padding-left: 16em;
                padding-right: 16em;
              }
            }
          }

          .mainc.dea {
            display: none;
          }
        }
      }
    }
  }
}

html.cu {
  background-color: $b;
  height: 100vh;
  width: 100vw;

  body {
    .bd {
      width: 100vw;
      height: 100vh;
      background-color: $b;

      .wp {
        nav {
          height: 5rem;

          .ltc {
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;

            .togglemenuc {
              position: absolute;
              right: 8%;
              top: 2.7%;

              .togglemenu {
                z-index: 100;
                height: 30px;
                width: 40px;

                span {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                }
              }

              .togglemenu.active {
                .sp1,
                .sp2 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 8px;
                  position: absolute;
                  top: 10%;
                  left: -4%;
                  transform: rotate(45deg);
                }

                .sp3 {
                  display: block;
                  height: 1px;
                  width: 2em;
                  background-color: $w;
                  margin-top: 11.87px;
                  transform: rotate(-45deg);
                }
              }
            }

            .lc {
              position: absolute;
              top: 3%;
              left: 5%;
              h1 {
                color: $w;
                font-family: "Poppins";
                font-size: 20px;
                font-weight: 300;
              }
            }
          }
        }

        .navm {
          background-color: $b;
          height: 90vh;
          width: 100%;
          display: none;
          z-index: 100;
          .enfc {
            ul {
              flex-direction: column;
              align-items: center;
              li {
                margin-top: 5em;
                button {
                  background-color: transparent;
                  border: none;
                  font-weight: 200;
                  color: $w;
                  font-family: "Poppins";
                  font-size: 10px;
                  transition: ease-in 0.4s;
                }
                button.cw {
                  border: solid $w 2px;
                  padding-top: 24px;
                  padding-bottom: 24px;
                  padding-left: 50px;
                  padding-right: 50px;
                  transition: ease-in 0.4s;
                }
                button.cw:hover {
                  border: solid $w 2px;
                  background-color: $w;
                  color: $b;
                  transition: ease-in 0.4s;
                }
                button:hover {
                  border-bottom: solid 2px #ffff;
                  transition: ease-in 0.4s;
                  color: $w;
                }
                @keyframes navmbH {
                  0% {
                    border-bottom: solid 2px #ffff;
                  }
                  50% {
                  }
                  100% {
                  }
                }
                @media (min-height: 470px) {
                  button {
                    font-size: 20px;
                  }
                }
              }
              @media (min-height: 590px) {
                li {
                  margin-top: 7em;
                }
              }
              @media (min-height: 630px) {
                li {
                  margin-top: 8em;
                }
              }
            }
          }
        }

        .navm.active {
          top: 6%;
          display: block;
        }

        .hts {
          width: 100%;
          z-index: 1;
          height: 200px;
          background-image: url(forest2.jpg);

          .h1fc {
            flex-direction: row;
            justify-content: left;
            padding-left: 2em;
            padding-top: 4em;
            h1 {
              color: $w;
              font-family: "Poppins";
              font-weight: 300;
            }
          }
        }

        .hts.dea {
          display: none;
        }
        .mainc {
          ul {
            padding-left: 1.3em;
            padding-top: 5em;
            li {
              color: $w;
              font-family: "Poppins";
              font-weight: 300;
              padding-top: 2em;
              a {
                color: $w;
                text-decoration: none;
              }
            }
          }
        }

        .mainc.dea {
          display: none;
        }
      }
    }
  }
}
